<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crossecore.examples.eclipsecon2018.tabris" version="0.1.0">
  <name>EclipseCon 2018</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="schwicht@mail.upb.de">
    Simon Schwichtenberg
  </author>
  <plugin name="cordova-plugin-sqlite-2" spec="^1.0.5" />
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
