<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<mat-sidenav-container class="example-container" hasBackdrop="true">
  <mat-sidenav mode="push" closed #drawer class="sidenav">
    <img src="./assets/logo.png" width="150"/>
    <mat-list>
      <mat-list-item><button routerLink="/program" mat-button><mat-icon>schedule</mat-icon> Program</button></mat-list-item>
      <mat-list-item><button routerLink="/profile" mat-button><mat-icon>account_circle</mat-icon> Profile</button></mat-list-item>
      <mat-list-item><button mat-button><mat-icon>settings</mat-icon> Settings</button></mat-list-item>
      <mat-list-item><button routerLink="/info" mat-button><mat-icon>info</mat-icon> About</button></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <span>EclipseCon Europe 2018</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



